<div class="container">
  <ng-progress></ng-progress>
  <app-search-form (username)="newusername($event)"></app-search-form>
    <div class="row">
      <div class ="col-sm-4">
            <img src="{{profile.avatar}}" class="img-circle" alt="image">
        </div>
        <div class ="col-sm-4">
            <p>{{profile.name}}</p>
            <p><a href="{{profile.url}}">{{profile.url}}</p>
            <p>{{profile.bio}}</p>
            <p>{{profile.location}}</p>
            <p>{{profile.public_repos}}</p>
            <p>{{profile.followers}}</p>
            <p>{{profile.following}}</p>

   </div>

</div>
</div>
